@import "tailwindcss";
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredstrategy: "pseudoelements";
}

@theme inline {
  --breakpoint-xs: 27rem;

  --color-white: #ffffff;
  --color-black: #121212;
  --color-dark: #070e4c;
  --color-gray: #3f3f3f;
  --color-main: #f80498;
  --color-main-light: #ff49b8;
  --color-pink: #f804c3;
  --color-pink-light: #fd7dcc;
  --color-pink-ultra-light: #ffb5e6;
  --color-pink-bright: #ff5bce;
  --color-blue: #268df4;
  --color-blue-light: #b5daff;
  --color-blue-bright: #4dd0ff;
  --color-blue-dark: #0c96fa;
  --color-purple-bright: #4f5dff;
  --color-purple-light: #6a8fff;
  --color-purple-ultra-light: #75a7ff;

  --font-actay: var(--font-actay), sans-serif;
  --font-guano-apes: var(--font-guano-apes), sans-serif;
  --font-montserrat: var(--font-montserrat), sans-serif;
  --font-parkia: var(--font-parkia), sans-serif;
}

@layer base {
  :root:has(.no-doc-scroll) {
    overflow: hidden;
    scrollbar-gutter: stable;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    background: var(--color-black);
    color: var(--color-white);
    font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    display: block;
    max-width: 100%;
  }

  ul {
    list-style: none;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  @keyframes glow-blue {
    0%,
    100% {
      text-shadow: 3.508px 2.923px 8.916px rgba(181, 218, 255, 0.2);
    }
    50% {
      text-shadow: 3.508px 2.923px 10px rgba(181, 218, 255, 0.7);
    }
  }

  @keyframes glow-pink {
    0%,
    100% {
      text-shadow: 3.508px 2.923px 8.916px rgba(255, 0, 166, 0.2);
    }
    50% {
      text-shadow: 3.508px 2.923px 10px rgba(255, 0, 166, 0.5);
    }
  }

  @keyframes svg-glow-blue {
    0%,
    100% {
      filter: drop-shadow(3.508px 2.923px 8.916px rgba(181, 218, 255, 0.2));
    }
    50% {
      filter: drop-shadow(3.508px 2.923px 10px rgba(181, 218, 255, 0.7));
    }
  }

  @keyframes svg-glow-pink {
    0%,
    100% {
      filter: drop-shadow(3.508px 2.923px 8.916px rgba(255, 0, 166, 0.2));
    }
    50% {
      filter: drop-shadow(3.508px 2.923px 10px rgba(255, 0, 166, 0.5));
    }
  }

  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

  @keyframes benefit-highlight-1 {
    0% {
      background-color: transparent;
    }
    10% {
      background-color: white;
    }
    30% {
      background-color: white;
    }
    40% {
      background-color: transparent;
    }
    100% {
      background-color: transparent;
    }
  }

  @keyframes benefit-highlight-2 {
    0% {
      background-color: transparent;
    }
    40% {
      background-color: transparent;
    }
    50% {
      background-color: white;
    }
    60% {
      background-color: white;
    }
    70% {
      background-color: transparent;
    }
    100% {
      background-color: transparent;
    }
  }

  @keyframes benefit-highlight-3 {
    0% {
      background-color: transparent;
    }
    70% {
      background-color: transparent;
    }
    80% {
      background-color: white;
    }
    90% {
      background-color: white;
    }
    100% {
      background-color: transparent;
    }
  }

  .animate-text-glow-pink {
    background-image: linear-gradient(
      125deg,
      #fff 22.37%,
      var(--color-pink-ultra-light) 94.04%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: glow-pink 2s ease-in-out infinite;
  }

  .animate-text-glow-blue {
    background-image: linear-gradient(
      125deg,
      #fff 22.37%,
      var(--color-blue-light) 94.04%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: glow-blue 2s ease-in-out infinite;
  }

  .animate-text-glow-dark {
    background-image: linear-gradient(
      125deg,
      #000 22.37%,
      var(--color-blue-light) 94.04%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: glow-blue 2s ease-in-out infinite;
  }

  .animate-svg-glow-blue svg {
    animation: svg-glow-blue 2s ease-in-out infinite;
  }

  .animate-svg-glow-pink svg {
    animation: svg-glow-pink 2s ease-in-out infinite;
  }

  .animate-svg-glow-dark svg {
    animation: svg-glow-blue 2s ease-in-out infinite;
  }

  .benefit-highlight-1 {
    animation: benefit-highlight-1 6s ease-in-out infinite;
  }

  .benefit-highlight-2 {
    animation: benefit-highlight-2 6s ease-in-out infinite;
  }

  .benefit-highlight-3 {
    animation: benefit-highlight-3 6s ease-in-out infinite;
  }

  .partner-img {
    width: var(--mobile-w);
    height: var(--mobile-h);
  }

  @media (min-width: 1024px) {
    .partner-img {
      width: var(--desktop-w);
      height: var(--desktop-h);
    }
  }

  /* Swiper */

  .swiper {
    z-index: 20 !important;
    padding: 0px 0px 60px 0px !important;
    @media screen and (min-width: 1280px) {
      padding: 0px 0px 70px 0px !important;
    }
  }

  .swiper-wrapper {
    align-items: stretch !important;
  }

  .swiper-slide {
    flex-grow: 1 0;
    height: 518px !important;
    width: 245px !important;
    padding: 0 1px 0 1px;
    border-radius: 8px;
  }

  .swiper-pagination-bullet {
    position: relative;
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
    background-color: transparent !important;
    border: 0.5px solid var(--color-gray);
    opacity: 1 !important;
  }

  .swiper-pagination-bullet::after {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: 100%;
    background-color: var(--color-gray);
  }

  .swiper-pagination-bullet-active {
    border: 0.5px solid var(--color-pink-light);
  }

  .swiper-pagination-bullet-active::after {
    background-color: var(--color-pink-light);
  }

  .swiper-button-next {
    display: none !important;
  }

  .swiper-button-prev {
    display: none !important;
  }

  .swiper-pagination {
    top: calc(100% - 20px) !important;
    @media screen and (min-width: 640px) {
      left: -123px !important;
    }
  }

  /* Loader */

  .loader {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    border-radius: 50%;
    color: var(--color-main);
    animation: fill 1s ease-in infinite alternate;

    @media screen and (min-width: 1024px) {
      width: 32px;
      height: 32px;
    }
  }

  .loader::before,
  .loader::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    left: 36px;
    top: 0;
    animation: fill 0.9s ease-in infinite alternate;

    @media screen and (min-width: 1024px) {
      left: 48px;
    }
  }

  .loader::after {
    left: auto;
    right: 36px;
    animation-duration: 1.1s;

    @media screen and (min-width: 1024px) {
      right: 48px;
    }
  }

  @keyframes fill {
    0% {
      box-shadow: 0 0 0 2px inset;
    }
    100% {
      box-shadow: 0 0 0 10px inset;
    }
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .rotation {
    animation: rotation 1600ms linear infinite;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Thinner horizontal scrollbar on mobile */
  .scrollbar-thin-mobile::-webkit-scrollbar {
    height: 4px;
  }

  @media (min-width: 768px) {
    .scrollbar-thin-mobile::-webkit-scrollbar {
      height: 6px;
    }
  }

  .scrollbar-thin-mobile {
    scrollbar-width: thin;
  }
}
